apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-zkwpvjnj
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-zkwpvjnj:76df9b33fbf72044d0fe4d2de7072ef46aad3e1d@sha256:beceda0ee20a534119fc241905074aefecc1528e0c0e6cc62019f48fc343f908
          name: container-image
